@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alegreya Sans', sans-serif;
}
.text-secondary { color: aqua; }
.text-white { color: white; }

.bg-secondary { background-color: aqua; }
.bg-white { background-color: white; }

.iconify { color: white; }
a { text-decoration: none; }

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( navy, royalblue);
    overflow: hidden;
}

header {
    width: 100%;
    padding: 40px 30px;
}

header h3 {
    display: inline-block;
    padding: 5px 5px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    border-radius: 10px;
    font-size: 24px;
    font-weight: bolder;
    

}

main {
    padding: 0 30px ;
}

.title{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

.jumbotron{
    font-weight: bold;
    margin-top: 30px;
}

.jumbotron h2 {
    font-size: 23px;
}

.laporan_hd, .laporan_so, .laporan_ak, .laporan_multimedia {
    display: inline-block;
    padding:10px;
    border-radius: 40px;
}

.hd, .win, .linux, .word, .excel, .ppt, .desain, .video {
    display: block;
    padding: 10px 20px;
    background-color: rgba(1, 225, 255, 0.39);
    backdrop-filter: blur(40px);
    border-radius: 20px;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(43, 38, 38, 0.03);
}

.back {
    position: absolute;
    width: 100px;
    padding:10px 10px;
    background-color:navy;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(43, 38, 38, 0.03);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.document_svg {
    width: 300px;
    position: absolute;
}

@media only screen and (min-width: 768px){
    .jumbotron {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr;
        grid-template-rows: 380px;
        grid-template-areas: 
            "laporan_hd laporan_so laporan_ak laporan_multimedia"
            "back document_svg"
    }

    .jumbotron__name {
        text-align: center;
    }

    .hd, .win, .linux, .word, .excel, .ppt, .desain, .video {
        text-align: center;
        position: relative;
    }

    .linux {
        top: 10px;
        margin: 0;
    }

    .excel {
        top: 10px;
        margin: 0;
    }

    .ppt {
        top: 20px;
        margin: 0;
    }

    .video {
        top: 10px;
        margin: 0;
    }

    .back {
        grid-area: back;
        top: 550px;
    }

    .document_svg {
        grid-area: document_svg;
        top:320px;
        left: 1000px;
        
    }    
}